@charset "UTF-8";

:root {
    --background-dark: rgb(246, 246, 250);
    --main-color: rgb(101, 78, 222);
    --font-color: rgb(3, 3, 8);
    --header-height: 48px;
}

.container {
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.sb {
    justify-content: space-between;
}

.gap-20 {
    gap: 50px;
}

.center {
    display: grid;
    place-items: center ;
}

body {
    background-color: var(--background-dark);
    font-family: "Inter", Arial, sans-serif;
    color: var(--font-color);
}

/*HEADER*/

header {
    height: var(--header-height);
    
}

header h1 {
    line-height: var(--header-height);
    font-size: 28px;
}

ul li a{
    line-height: var(--header-height);
    font-size: 18px;
    text-decoration: none;
    color: var(--font-color);
}

/*Main*/

.hero-banner {
    height: calc(100dvh - var(--header-height));
    background-image: url(../media/header.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.banner-content h1 {
    font-size: 62px;
}

.name {
    color: #007200;
}

.banner-content p {
    font-size: 38px;
}

.button {
    width: 120px;
    height: 50px;
    background-color: #007200;
    border-radius: 8px;
    margin: 10px 30px 0 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #018f01;
}

.button:active {
    background-color: #006800;
}

/*About me*/
.about-me {
    margin-top: 80px;
    margin-bottom: 80px;
}

article {
    width: 63%;
}

article h3 {
    font-size: 26px;
}
article p {
    margin-top: 12px;
    font-size: 18px;
}

aside {
    width: 37%;
    background-color: rgba(49, 131, 49, 0.451);
    border-radius: 10px;
    border: 1px solid #00471811;
    box-shadow: 6px 6px 12px -11px #0000004b;
    margin-bottom: 3px;
}

.author-pic {
    height: 280px;
}

.author-pic img {
    width: 280px;
    border-radius: 50%;
}

.description {
    text-align: center;
    padding: 25px;
}

.bio-last-p {
    margin-top: 12px;
    font-size: 18px;
}

@media (max-width: 740px) {
    .about-me div {
        display: inline;
    }
    aside {
        width: 100%;
        display: grid;
        place-items: center;
        margin: 15px 0;
    }
    article {
        width: 100%;
    }
}

/*Projects*/

.projects {
    background-color: rgba(49, 131, 49, 0.062);;
    padding-bottom: 80px;
}

.projects h2 {
    font-size: 26px;
    padding-top: 77px;
    text-align: center;
    margin-bottom: 15px;
}

.project-template {
    height: 450px;
}

.project-template + .project-template {
    padding-top: 80px;
}

.text {
    width: 50%;
    background-color: rgba(49, 131, 49, 0.451);
    text-align: center;
    display: grid;
    place-content: center;
    padding: 20px 20px 20px 20px;
}

.image {
    width: 50%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(49, 131, 49, 0.451) transparent;
}

.image::-webkit-scrollbar-thumb {
    background-color: rgba(49, 131, 49, 0.451); /*For Safari*/
}

.image::-webkit-scrollbar {
    width: 8px; /* For safari */
}

.text, .text-two{
    width: 50%;
    background-color: rgba(49, 131, 49, 0.096);
    border: 1px solid rgba(21, 92, 36, 0.096);
}

.image-two {
    width: 50%;
    background-image: url(../media/config.png);
    background-position: center;
    background-size: cover;
}

.button-two {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background-color: #359935;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    transition-duration: 0.2s;
}

.button-two:hover {
    background-color: #20af20;
}

.button-two:active {
    background-color: #157415;
}

.text h4 {
    font-size: 18px;
}

.text p {
    font-size: 16px;
}

.p-one .image figure img {
    width: 100%;
}

/*Contact*/

.contact {
    padding-top: 77px;
    padding-bottom: 80px;
}

.contact h2 {
    font-size: 26px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    margin-bottom: 20px
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box-one, .box-two, .box-three {
    flex: 0 0 calc(33.333333% - 13.33333px);
    max-width: calc(33.333333% - 13.333333px);
    height: 180px;
    color: rgb(7, 6, 26);
    text-align: center;
    border: 1px solid #054e1d25;
    border-radius: 8px;
    background-color: #31833173;
    padding-bottom: 12px;
}

.icon {
    font-size: 80px;
    margin-bottom: -30px;
}

.icon a {
    color: rgb(7, 34, 14);
    transition-duration: 0.2s;
}

.icon a:hover{
    color: #007200;
}

.icon a:active {
    color: #003100;
}

@media (max-width: 800px) {
    .box-one, .box-two {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .box-three {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 540px) {
    .box-one, .box-two, .box-three {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/*Footer*/

footer {
    height: 60px;
    background-color: #002900;
}

footer p {
    color: rgba(255, 255, 255, 0.61);
    line-height: 60px;
    text-align: right;
}